* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
    scroll-padding-top: 2rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
}
body {
    display: flex;
    text-align: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-image: url(rm251-mind-01-a.jpg);
    background-size: 500vh;
    background-repeat: no-repeat,repeat;
    background-position: center;
}
header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: black;
    padding: 15px 30%;
    transition: .3s;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    padding: 10px 30px;
    font-weight: 500;
    display: flex;
    padding: 10px 20px;
    position: relative;
    font-size: 20px;
    overflow: hidden;
    transition: 0.3s;
    border-radius: 5px 35px;
    margin: 5px 0 0 0;
    list-style: none;
}
.navbar a:hover {
    background: #3813b7;
    color: white;
    box-shadow: 0 0 15px #3813b7,
    0 0 45px #3813b7, 0 0 45px #3813b7;
    transition-delay: 0.0s;
}
header ul li a:hover, .active{
    background-color: #3813b7;
    color: white;
}
.menu-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    transition: all .5s ease-in-out;
}
.menu-button {
    width: 50px;
    height: 6px;
    background: black ;
    border-radius: 5px;
    transition: all .5s ease-in-out;
    background: black;
}
.menu-button::before,
.menu-button::after {
    content: '';
    position: absolute;
    width: 50px;
    height: 6px;
    background: black;
    border-radius: 5px;
    transition: all .5s ease-in-out;
}
.menu-button::before {
    transform: translateY(-16px);
}
.menu-button::after {
    transform: translateY(16px);
}
.menu-btn.open .menu-button {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
}
.menu-btn.open .menu-button::before {
    transform: rotate(45deg) translate(35px, -35px);
}
.menu-btn.open .menu-button::after {
    transform: rotate(-45deg) translate(35px, 35px);
}
img {
    align-items: center;
    width: 350px;
    height: 470px;
    position: absolute;
    right: 0;
    margin: 170px 150px 0 0;
}
.home-text {
    display: flex;
    margin: 250px 0 0 85px; 
    font-size: 40px;
    position: absolute;  
    top: 0;
    left: 0;
    color: white;
}
.home-text h2 {
    display: block;
    font-size: 20px;
    color: #3813b7;
    letter-spacing: 2px;
    margin: 100px 0 0 -270px;
}
.home-text h3 {
    display: block;
    font-size: 13px;
    color: #3813b7;
    margin: 150px 0 0 -340px;
    text-align: center;
}
.home-text .one {
    display: block;
    font-size: 13px;
    color: #3813b7;
    margin: 200px 0 0 -390px;
}
.home-text .two {
    display: block;
    font-size: 13px;
    color: #3813b7;
    margin: 230px 0 0 -310px;
}
.home-text .three {
    display: block;
    font-size: 13px;
    color: #3813b7;
    margin: 260px 0 0 -350px;
}
.home-text .chp-one {
    display: block;
    font-size: 13px;
    color: #3813b7;
    margin: 320px 0 0 -310px;
}
.home-text .chp-two {
    display: block;
    font-size: 13px;
    color: #3813b7;
    margin: 350px 0 0 -450px;
}
.home-text .chp-three {
    display: block;
    font-size: 13px;
    color: #3813b7;
    margin: 380px 0 0 -430px;
}
